html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

.chat-wrapper {
    width: 60%;
    display: grid;
    grid-gap: 10px;
    position: relative;
}

.chat {
    text-align: -webkit-center;
}

.row {
    margin-left: 0 !important;
    display: block !important;
    background-color: #f2dcff;
    width: 100% !important;
}

button {
    margin: 0 !important;
}

.spinner {
    position: absolute;
    z-index: 100;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #606c76;
}

.chat-inner {
    display: grid !important;
    grid-gap: 15px;
    background-color: transparent;
    text-align: left;
}

.message {
    background-color: #f9f9f9;
    display: flex;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    font-size: 1.7rem;
    max-width: 70%;
    width: fit-content;
    -webkit-animation: message 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: message 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.self-message {
    background-color: #f6e6ff;
    margin-left: auto;
    flex-direction: row-reverse;
}

.message-holderName {
    font-size: 1.35rem;
    user-select: none;
}

.message-holderName-self {
    text-align: end;
}

.message .data {
    width: 100%;
    overflow-wrap: anywhere;
}

.message img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    user-select: none;
}

.message-additional {
    margin-top: 5px;
    text-align: right;
    font-size: 1.2rem;
    color: #5c5b5b;
    user-select: none;
    display: flex;
    align-items: center;
}

.additional-component {
    margin-right: 10px;
}

.fa-edit:hover {
    cursor: pointer;
    color: burlywood;
}

.fa-times:hover,
.fa-trash-alt:hover {
    color: tomato;
    cursor: pointer;
}

.fa-heart {
    height: 100%;
}

.heart-liked:hover,
.fa-heart:hover {
    cursor: pointer;
}

.heart-liked {
    color: red;
}

.message-edit-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.message-edit-input{
    padding-right: 40px !important;
}

.editBtn {
    top: 4px;
    width: 30px !important;
    height: 30px !important;
    margin: 0 5px 0 0 !important;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    border-radius: 50% !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.editBtn .fa-paper-plane{
    font-size: 1.7rem !important;
}

input {
    margin-bottom: 0 !important;
}

@-webkit-keyframes message {
    0% {
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes message {
    0% {
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.breaker {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.05rem;
    margin-bottom: 10px;
    user-select: none;
}

.breaker::before,
.breaker::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #606c76;
}

.breaker::before {
    margin-right: .25em;
}

.breaker::after {
    margin-left: .25em;
}

.chat-header {
    border-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.44);
    user-select: none;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.chatSummary {
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 70%;
    align-items: center;
}

.chatName {
    font-size: 2rem;
}

.chatLast {
    display: flex;
    align-items: center;
}

.chat-input {
    background-color: transparent;
    position: sticky;
    bottom: 0;
}

.inputWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    backdrop-filter: blur(20px);
}

.inputBtn {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.inputBtn .fa-paper-plane {
    font-size: 2rem;
}

.inputArea {
    padding-right: 70px;
    height: 100px;
    resize: none;
    margin-left: 0;
    margin-bottom: 0;
}


/* width */

.inputArea::-webkit-scrollbar {
    width: 5px;
    z-index: 101;
}


/* Track */

.inputArea::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

.inputArea::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

.inputArea::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: default;
}

.chatParticipants:after{
    content: " participants";
}

.chatMessages:after{
    content: " messages";
}

@media(max-width:800px) {
    .message {
        max-width: 100%;
    }
    .chatSummary{
        width: 80%;
    }
}

@media(max-width: 600px) {
    .chatSummary{
        max-width: 100%;
        width: 100%;
    }
    .chatParticipants:after{
        content: "";
    }

    .chatMessages:after{
        content: "";
    }

    .chatLast{
        display: none;
    }

    .message {
        max-width: 100%;
    }
    .chat-wrapper {
        width: 100%;
    }
    .chat-inner {
        max-height: 100%;
    }
}